/* Top Links */
.page-22-, .page-21-, .page-28- {
	display: none;
}

/* 404 */
.PageListID27 {
	display: none;
}

/* Options */
.PageListID1015 {
	display: none;
}

/* Search */
.PageListID1026 {
	display: none;
}

/* Sitemap */
.PageListID1027 {
	display: none;
}

/* ADMIN */
.PageListID2 {
	display: none;
}